:root {
    --light: #f1ab86;
    --medium: #c57b57;
    --dark: #5d9a9e;
}

*, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--dark); 
    color: var(--light);    
}

main {
    max-width: 796px;
    margin: auto;
}

nav {
    padding: 12px;
}

nav a {
    text-decoration: none;
    color: var(--light);
    margin-left: 8px;
}

section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

article {
    width: calc(50% - 16px);
    margin-bottom: 12px;
    padding: 8px;
}

article:first-of-type {
    width: 100% ;
}

h2 {
    margin-bottom: 8px;
    text-align: center;
}

img {
    margin: 8px 0;
}

#about-me {
    text-align: center;
    align-items: center;
}

#about-me img {
    max-width: 200px;
}

#work img {
    width: 100%;
}

#work div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact div {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    header  {
        flex-direction: column;
    }
   nav a {
    margin-left: 0;
   }

   article {
    width: 100%;
   }

}